name: Android CI

on: pull_request

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - name: set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: 21
    - name: Build android app
      run: ./gradlew assembleDebug
    - name: Run Unit Tests
      run: ./gradlew :composeApp:jvmTest

